/* globals.css */

/* Global Styles */
html, body {
  font-family: "Helvetica Now Display DW", sans-serif; /* Define a fonte padrão do corpo */
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Home.module.css */
@import "bootstrap-icons/font/bootstrap-icons.css";

.few {
  font-size: 0.875rem; /* Define o tamanho da fonte do subtítulo */
  color: #878a8f; /* Define a cor do texto do subtítulo como cinza claro */
  text-transform: uppercase; /* Transforma o texto do subtítulo para letras maiúsculas */
  letter-spacing: 2px; /* Aumenta o espaçamento entre as letras do subtítulo */
  text-align: center; /* Centraliza o texto do subtítulo */
  margin-bottom: 20px; /* Adiciona espaço (margem) abaixo do subtítulo */
}

.title {
  font-size: 2.5rem; /* Define o tamanho da fonte do título principal */
  font-weight: 800; /* Define a espessura da fonte como extra-negrito */
  color: #0f141e; /* Define a cor do texto do título principal como preto */
  text-align: center; /* Centraliza o texto do título principal */
  line-height: 3.125rem; /* Define a altura da linha */
  margin-bottom: 30px; /* Adiciona espaço (margem) abaixo do título principal */
  padding-top: 4px;
  padding-bottom: 1px;
  letter-spacing: -0.01em;
  font-style: normal;
  font-family: "Helvetica Now Display DW", sans-serif;
  
}

.description {
  font-size: 1.125rem; /* Define o tamanho da fonte dos parágrafos */
  color: #878a8f; /* Define a cor do texto dos parágrafos como cinza claro */
  text-align: justify; /* Justifica o texto dos parágrafos */
  max-width: 800px; /* Limita a largura dos parágrafos para melhorar a legibilidade */
  margin: 0 auto; /* Centraliza os parágrafos dentro do contêiner */
  margin-bottom: 40px; /* Adiciona espaço (margem) abaixo dos parágrafos */
}
