/* About.module.css */

.about {
  padding: 150px 30px 0px 30px;
  box-sizing: border-box;
  text-align: center;
}

.few {
  font-size: 0.875rem;
  color: #878a8f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.container {
  max-width: 100%; /* Define a largura máxima do container */
  margin: 0 auto; /* Centraliza o container */
}

.few2 {
  font-size: 0.875rem;
  color: #878a8f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 60px;
  margin-top: 100px;
  text-decoration: underline;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #000000;
  text-align: center;
  line-height: 3.125rem;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
  font-style: normal;
  padding: 10px;
  box-sizing: border-box;
}

.titleTools {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: 800;
  color: #0f141e;
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  font-size: 1.125rem;
  color: #878a8f;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.carousel img {
  max-height: 400px;
}

.services {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.details {
  margin-bottom: 20px;
}

.details summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.summary {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.usualText {
  font-size: 1rem;
  color: #878a8f;
  text-align: justify;
}

/* Estilo básico para a lista */
.styled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.styled-list li {
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

.styled-list li:hover {
  background-color: #e9e9e9;
  transform: translateY(-2px);
}

.styled-list li::before {
  content: "\2022";
  color: #3498db;
  font-size: 1.5em;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.styled-list li {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}
