/* About.module.css */

.about {
  padding: 150px 30px 0px 30px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.few {
  font-size: 0.875rem;
  color: #878a8f;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}
.container {
  max-width:100%; /* Define a largura máxima do container */
  margin: 0 auto; /* Centraliza o container */
}


.few2 {
  font-size: 0.875rem;
  color: #878a8f;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 100px;
  text-decoration: underline;


}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #000000;
  text-align: center;
  line-height: 3.125rem;
  margin-bottom: 30px;
  padding-top: 4px;
  padding-bottom: 1px;
  letter-spacing: -0.01em;
  font-style: normal;
  padding: 10px;
}


.titleTools {
  font-size: 1.125rem; /* Define o tamanho da fonte das ferramentas */
  line-height: 1.5625rem; /* Define a altura da linha das ferramentas */
  padding-top: 1px; /* Adiciona espaçamento (padding) superior */
  padding-bottom: 4px; /* Adiciona espaçamento (padding) inferior */
  font-weight: 800; /* Define a espessura da fonte como extra-negrito */
  color: #0f141e; /* Define a cor do texto das ferramentas como preto */
  margin: 0; /* Remove qualquer margem */
  text-align: center; /* Centraliza o texto das ferramentas */
  display: flex; /* Define o layout flexível para as ferramentas */
  flex-wrap: wrap; /* Permite que as ferramentas se quebrem em várias linhas, se necessário */
  justify-content: center; /* Centraliza as ferramentas dentro do contêiner */
}

.description {
  font-size: 1.125rem;
  color: #878a8f;
  text-align: justify;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.carousel img {
  max-height: 400px;
}

.services {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.details {
  margin-bottom: 20px;
}

.details summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.summary {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.usualText {
  font-size: 1rem;
  color: #878a8f;
  text-align: justify;
}


/* Estilo básico para a lista */
.styled-list {
  list-style-type: none; /* Remove os marcadores de lista padrão */
  padding: 0; /* Remove o preenchimento padrão */
  margin: 0; /* Remove a margem padrão */
}

.styled-list li {
  background-color: #f4f4f4; /* Cor de fundo suave para os itens da lista */
  border: 1px solid #e0e0e0; /* Borda clara ao redor dos itens */
  margin-bottom: 10px; /* Espaço entre os itens */
  padding: 10px 15px; /* Preenchimento dentro dos itens */
  border-radius: 1px; /* Canto arredondado para os itens */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave para a cor de fundo e transformação */
  display: flex; /* Define o layout flexível para os itens */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  font-family: 'Arial', sans-serif; /* Define a fonte */
  font-size: 16px; /* Define o tamanho da fonte */
  color: #333; /* Cor do texto */
}

/* Adiciona uma cor de fundo diferente ao passar o mouse */
.styled-list li:hover {
  background-color: #e9e9e9;
  transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

/* Adiciona um ícone personalizado antes dos itens da lista */
.styled-list li::before {
  content: "\2022"; /* Caractere do ponto da lista */
  color: #3498db; /* Cor do ponto */
  font-size: 1.5em; /* Tamanho maior para o ponto */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Estilização adicional para a lista */
.styled-list li {
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  font-family: 'Arial', sans-serif; /* Define a fonte */
  font-size: 16px; /* Define o tamanho da fonte */
  color: #333; /* Cor do texto */
}
