/* components/AnimatedCircle.module.css */
.circleContainer {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Altera para o lado esquerdo */
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000; /* Garante que o ícone esteja acima de outros elementos */
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, width 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    font-size: 24px;
    color: white;
  }
  
  .circle:hover {
    background-color: #555;
    width: 150px; /* Alarga o círculo para exibir o texto */
    justify-content: flex-start;
    padding-left: 15px;
  }
  
  .circle i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
  }
  
  .tooltipText {
    display: none;
    white-space: nowrap;
    font-size: 16px;
    color: white;
  }
  
  .circle:hover .tooltipText {
    display: inline;
  }
  