/* styles/Home.module.css */

/* Container principal para a estrutura flexível */
.skeletonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilização para o cabeçalho principal */
.mainHeading {
  font-weight: 400; /* Define o peso da fonte */
  font-size: .875rem; /* Define o tamanho da fonte */
  line-height: 1.25rem; /* Define a altura da linha */
  text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
  padding-top: 5px; /* Adiciona preenchimento superior */
  padding-bottom: 0; /* Remove preenchimento inferior */
  letter-spacing: .4em; /* Define o espaçamento entre letras */
  color: #878a8f; /* Define a cor do texto */
}

/* Estilização para o subtítulo */
.subHeading {
  font-weight: 800; /* Define o peso da fonte */
  letter-spacing: -.01em; /* Define o espaçamento entre letras */
  color: #0f141e; /* Define a cor do texto */
  font-size: 3.875rem; /* Define o tamanho da fonte */
  line-height: 4.0625rem; /* Define a altura da linha */
  padding-top: 5px; /* Adiciona preenchimento superior */
  padding-bottom: 5px; /* Adiciona preenchimento inferior */
  margin-bottom: 1rem; /* Adiciona margem inferior */
}

/* Estilização para os parágrafos */
.paragraph {
  font-weight: 500; /* Define o peso da fonte */
  font-size: 1.375rem; /* Define o tamanho da fonte */
  line-height: 1.875rem; /* Define a altura da linha */
  color: #878a8f; /* Define a cor do texto */
  margin-top: 20px; /* Adiciona margem superior */
  padding-top: 2px; /* Adiciona preenchimento superior */
  padding-bottom: 3px; /* Adiciona preenchimento inferior */
}

/* Estilização para os links */
.link {
  font-weight: bold; /* Define o peso da fonte */
  font-size: 1.125rem; /* Define o tamanho da fonte */
  margin-right: 10px; /* Adiciona margem à direita */
  display: inline-block; /* Define o display como inline-block */
  color: #000; /* Define a cor do texto */
}

.link:hover {
  text-decoration: underline; /* Adiciona sublinhado ao texto no hover */
}

/* Estilização para a imagem do perfil */
.profileImage {
  max-width: 100%; /* Define a largura máxima como 100% */
  height: auto; /* Define a altura automática */
  transition: opacity 0.5s ease-out; /* Define uma transição suave para a opacidade */
}

/* Estilização para o cabeçalho dos serviços */
.servicesHeading {
  font-weight: bold; /* Define o peso da fonte */
  font-size: 36px; /* Define o tamanho da fonte */
  margin: 0 0 10px; /* Adiciona margem inferior */
}

/* Estilização para a lista de serviços */
.servicesList {
  color: #999; /* Define a cor do texto */
  letter-spacing: 1px; /* Define o espaçamento entre letras */
  margin-bottom: 10px; /* Adiciona margem inferior */
}

/* Contêiner de texto centralizado */
.textContainer {
  text-align: center; /* Centraliza o texto */
  margin: 50px 0; /* Adiciona margem superior e inferior */
}

/* Estilização para os subtítulos */
.subtitle {
  color: #999; /* Define a cor do texto */
  letter-spacing: 1px; /* Define o espaçamento entre letras */
  text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
  margin-bottom: 10px; /* Adiciona margem inferior */
}

/* Estilização para o texto principal */
.mainText {
  font-weight: bold; /* Define o peso da fonte */
  font-size: 36px; /* Define o tamanho da fonte */
  margin: 0 0 20px; /* Adiciona margem inferior */
}

/* Classe para controlar o tamanho dos cards */
.cardSmall {
  width: 100%; /* Ajuste conforme necessário */
  max-width: 600px; /* Define a largura máxima dos cards */
  margin: auto; /* Centraliza os cards */
  box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
  padding: 16px; /* Adiciona padding interno para espaçamento */
  cursor: pointer;
}

.cardSmall img {
  width: 100%; /* Ajusta a largura da imagem ao tamanho do card */
  height: auto; /* Define a altura automática */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards se ajustem conforme necessário */
  justify-content: center; /* Centraliza os cards horizontalmente */
  gap: 16px; /* Espaçamento entre os cards */
}

.card {
  flex: 1 1 300px; /* Permite que os cards cresçam e encolham conforme necessário, com largura base de 300px */
  max-width: 600px; /* Largura máxima dos cards */
}

.serviceItem {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
}

.serviceItem:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}