/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 13px;
  font-weight: 800;
  margin: 0;
  letter-spacing: .2em;
  background-color: transparent; /* Define uma cor de fundo transparente */
  width: 100%;
  position: fixed; /* Torna o navbar fixo ao rolar a página */
  top: 0;
  z-index: 1000;
}

/* Container para a marca (logo) */
.brandContainer, .brandContainerModal {
  display: flex;
  align-items: center;
  height: 46px;
  float: left;
  letter-spacing: .1em;
  padding: 5px;
  animation: draw-border 2s ease-in-out forwards; /* Animação da borda */
}

.brandTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

@keyframes draw-border {
  from {
    stroke-dasharray: 0, 400;
  }
  to {
    stroke-dasharray: 400, 0;
  }
}

/* Texto da marca */
.brandText, .brandTextHome {
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0em;
}

.brandTextHome {
  color: #000;
}

.brandTextHomeModal {
  color: white;
}

.brandText {
  color: #fafbfbbe;
}

/* Subtítulo */
.subtitle {
  font-size: 0.6rem;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Botão do menu */
.menuButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
}

/* Contêiner do menu */
.menuContainer {
  display: flex;
  align-items: center;
}

/* Texto do menu */
.menuText {
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-right: 10px;
}

/* Ícone do menu */
.menuIcon {
  font-size: 1.5rem;
}

/* Overlay do modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.95);
  z-index: 1050;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}

/* Cabeçalho do modal */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

/* Botão de fechar o modal */
.modalClose {
  cursor: pointer;
  font-size: 1rem;
  color: #f3fbfcbe;
  font-weight: bold;
}

/* Corpo do modal */
.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  transition: background-image 0.5s ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Conteúdo de fundo */
.bgContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

/* Título do menu */
.menuTitle {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: .1rem;
  color: #777; /* Cor do título do menu */
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* Link de navegação */
.navLinksContainer {
  display: flex;
  flex-direction: column;
  gap: .0001px; /* Remove o espaço entre os links */
}

.navLink {
  color: #999 !important;
  font-size: 3rem;
  font-weight: 800;
  line-height: 4.0625rem;
  font-family: "Helvetica Now Display DW", sans-serif;
  letter-spacing: -0.01em;
  position: relative;
  list-style-type: none;
  text-align: center;
  margin-bottom: 0; /* Remove o espaço inferior */
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #fff !important;
  text-decoration: none;
  position: relative;
}

.navLink:hover::before {
  content: '—';
  position: absolute;
  left: -30px;
  color: white;
  font-size: 3rem;
}

/* Link para o CV */
.cvLink {
  color: #000;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cvLink:hover {
  background-color: #000;
  color: #fff;
}

.cvLinkModal {
  font-size: 2rem;
  margin-top: 1rem;
}

/* Vídeo de fundo */
.bgContent video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.button {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  text-align: center;
  min-width: 7rem;
  width: fit-content;
  background: transparent;
  border-radius: .7rem;
  border: none;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  color: transparent;
  background: linear-gradient(to right, #0a0802, #b5b1b1);
  background-clip: text;

  /* suporte */
  -webkit-background-clip: text;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  top: 0;
  left: 0;
  padding: .19rem;
  background: #fff;
  mask: 
    linear-gradient(#000000 0 0) content-box,
    linear-gradient(rgb(241, 241, 241) 0 0);
  mask-composite: exclude;

  /* suporte */
  -webkit-mask-composite: destination-out;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(rgb(4, 4, 3) 0 0);
  -webkit-mask-composite: destination-out;
}

.button:hover::before {
  background: linear-gradient(to right, #020202, #f7f7f7);
}
